@media(min-width: 320px) and (max-width: 480px) {
  html,body{
    width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
  h1{
    font-size: 6.5vw !important;
  }

  h2{
    font-size: 5.75vw !important;
  }
  
  .container-fluid{
		padding-left:0 !important;
		padding-right: 0 !important;
		margin-left:0 !important;
    margin-right: 0 !important;
    max-width: 480px;
  }

  .social-container{
    display:none;
  }

  .logo-row{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .expedition-intro-row{
    padding-bottom: 1.5em !important;
  }

  .content-2 p{
    width: 85% !important;
    font-size: 3.75vw !important;
  }

  .logo{
    float: left;
    width: auto !important;
    height: 80%;
    margin-top: 2vh;
  }

  .left-notmobile{
    display: none !important;
  }

  .exp-mobile-col{
    width: 100%; 
  }

  .left-onlymobile{
    display: inline-block !important;
  }

  .dropdown-col{
    width: 100vw !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: -1em !important;
  }

  .float-redline{
    display: none !important;
  }

  .outline-contain{
    display: none !important;
  }

  #home-row{
    display:none !important;
  }

  .col-sm-10{    
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }

  .ul{
    padding-left: 0;
  }

  .ac-h1{
    margin-left: -3.5vh;
  }

  .history-menu-contain{
    width: 100% !important;
    min-width: 100% !important;
    position: absolute !important;
    margin-top: -3em !important;
  }

  .history-menu-item{
    display: none !important;
  }

  .hm-active{
    display: block !important;
  }

  .history-menu{
    min-width: 1vw;
  }

  .history{
    height: 100vh !important;
  }

  .content-buffer-fix{
    padding-top: 2.5em;
    padding-bottom: 0;
  }

  .history-row-mobile-2{
    padding-left: 1em !important;
  }

  .top-row-watch{
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .v-center{
    width: 95vw;
    margin-top: .75em;
    padding-left: 2vh !important;
  }

  .nav-container{
    background-color: #212322;
    height: 12vh !important;
    position: relative !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 0.5em;
  }

  .in-content-ul{
    margin-left: -2em;
    margin-right: 0;
    width: 100% !important;
  }

  .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .mobileSide{
    display: none !important; 
  }

  .explore-link{
    font-size: 10vw !important;
    letter-spacing: 0.1em;
  }

  .mobile-expedition-row{
    display: inline-block !important;
    padding-bottom: 1.5em !important;
    width: 100%;
  }


  .ex-p{
    margin-left: -0.3em;
  }

  .redl{
    width:15% !important;
    top:35% !important;
  }

  .mobile-nav-row{
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
  }

  .innerMobileRow{
    height:50%;
    width:100%;
  }
  
  #contact-link{
    display:none;
  }


  #explore-mobile{
    background: url('/img/left-background-grayscale.jpg'); 
    background-size: cover;
    width:100%;
    height:100%;
  }
  
  #engage-mobile {
    background: url('/img/right-background-grayscale.jpg'); 
    background-size: cover;
    width:100%;
    height:100%;
  }

  .content-buffer{
		margin-left: -1em;
		padding-top:1.5em;
		padding-bottom: 5.5em;
  }

  .shift-text-content{
    margin-left: 0;
  }

  .remove-mobile{
    display: none !important;
  }

  .graybg img {
    padding-right: 0;
}

  .content-buffer-mobile{
		padding-top:1.5em;
		padding-bottom: 1.5em;
  }
  
  .mobileRow{
    display: block !important;
    height: 87vh !important;
  }

  #home-row-headers{
    display: none !important;
  }

  .col-sm-2{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }

  .redl2{
    display: none !important;
  }

  #tools-pic{
    max-width: 100%;
  }

  .instagram-pic{
    width: 50% !important;
    height: 33vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  .tweet-content{
    position: relative !important;
    color:#fff;
    padding:3em;
    font-weight: bold;
  }

  #row6{
    height: 120vh !important;
  }

  .tw-row{
    height: 131vh !important;
    padding-top: 1em;
  }

  .expedition-intro-row{
    margin-left: 5vh !important;
  }

  .expedition-img{
    width: 100vw !important;
  }

  #tools-img{
    margin-left: -3vh !important;
  }

  .press-item-container{
    width: 1.5em !important;
  }

  .left-angle, .right-angle{
    width: 3vw !important;
    height: 3vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  .right-angle{
    max-width: 1.5em !important;
    max-height: 1.5em !important;
  }

  .press-scroller{
    width: 90vw !important;
  }

  .ps-outer-contain{
    padding-top: 33em !important;
  }

  .tweet-content{
    position: relative;
    color:#fff;
    padding:3em;
    font-weight: bold;
  }

  .center-logos{
    width: 90vw !important;
    display: flex;
    padding-right: 0 !important;
    margin-left: 3vw !important;
    padding-bottom: 1.5em !important;
  }

  .logo-col{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .logo-row:first-of-type{
    margin-bottom:0 !important;
  }

  #bottom-row{
    top: 15vh !important;
  }

  .explore-bottom-col {
    width: 100% !important;
    flex: 1;
  }

  .engage-bottom-col{
    flex: 1;
  }

  .bottom-content{
    height: 55vh;
    flex-direction: column !important;
  }

  .instagram-wrapper{
    display: none !important;
  }

  .instagram-wrapper-mobile{
    display: flex;
    width: 100vw;
  }

  #explore-instagram-mobile, #engage-instagram-mobile{
    width: 100vw;
    display: flex !important;
    flex-wrap: wrap;
    height: 66vh;
  }

  .press-item{
    height: 4.4vh !important;
    border-top: 2px solid #999 !important;
  }

  .press-item-active{
    border-color: #fe2246 !important;
  }

  .history-menu{
    display: none !important;
  }

  .history-menu-mobile{
    display: flex !important;
    border-bottom: red 1px solid;
    width: 62vw;
    margin-left: 4vw;
  }

  .history-menu-item-mobile{
    width: 80vw;
  }

  .history-content-row{
    width: 87vw !important;
  }

  .mobile-history-select{
    color: #fe2246;
    background: transparent;
    border: transparent;
  }

  .team-row{
      width: 95vw !important;
      display: flex;
      padding-right: 0 !important;
      margin-left: -5vw !important;
      padding-bottom: 1.5em !important;
      padding-top: 5vh !important;
  }

  .team-container{
    width: 50% !important;
    margin-right: 1em !important;
    margin-bottom: 5vh !important;
  }

  .team-name{
    font-size: 0.75em !important;
  }

  .team-position{
    letter-spacing: 0em;
    font-size: 0.5em;
  }

  #row1a{
    height: 85vh;
  }

  #row2a{
    height: 210vh;
  }

  .coordinates-table{
    display: none !important;
  }

  #row6a{
    height: 100vh;
  }

  #coordinates-copy{
    margin-left: -3vw !important;
    width: 85vw !important;
    color: black;
  }

  .web-coordinates-table{
    display: block !important;
  }

  .table-bottom-border{
    border-bottom: solid black 1px;
    width: 85vw;
    margin-left: -7vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }

  .event-date{
    font-size: 0.75rem;
    color: red;
  }

  .event-title{
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .team-headshot{
    width: 38vw !important;
  }

  .team-body-copy{
    width: 85vw !important;
    margin-left: -6vw !important;
  }

  .team-bottom-padding{
    padding-bottom: 0 !important;
  }

  .testimonial-row{
    display: block !important;
    padding-bottom: 1.5em !important;
  }

  .testimonial-header{
    padding-bottom: 2.5em !important;
  }

  .testimonial-author{
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .modal-hr{
    width: 20% !important;
  }

  .testimonial-quote{
    margin-left: -7vw;
    margin-top: 0;
    font-style: italic;
    margin-bottom: 8vh;
  }

  .testimonial-bottom{
    padding-bottom: 0 !important;
    padding-top: 24vh;
  }

  .advocacy-remove{
    display: none !important;
  }

  .advocacy-img{
    width: 100vw !important;
    padding-right: 0 !important;
  }

  .advocacy-image-wrapper{
    width: 100vw;
    padding-left: 0 !important;
  }

  .advocacy-web{
    display: none !important;
  }

  .advocacy-mobile{
    display: block !important;
    padding-bottom: 2.5em !important;
  }

  .speaking-body{
    padding-right: 0 !important;
  }

  .speaking-body-content{
    margin-left: -5vh;
  }

  .speaking-header{
    margin-left: -1vh;
  }

  .speech-row{
    width: 100vw;
    display: flex !important;
    flex-wrap: wrap;
    height: 66vh;
    right: 0 !important;
    margin-right: -5vw !important;
    margin-top: 3em !important;
  }

  .speech-img{
    padding-left: 0;
    padding-right: 0;
  
  }

  .speech-container{
    width:50vw !important;
    float: left;
    height: 33vh !important;
  }

  #row3a{
    height: 182vh !important;
  }

  .achievements-2{
    display: none !important;
  }

  .quote-content{
    display: none !important;
  }

  .quote-content-mobile{
    display: block !important;
  }

  .achievements-1{
    height: 33vh !important;
    width: 100% !important;
    margin-top: 8vh;
  }
  
  #row4a{
    height: 50vh;
  }
}

