@font-face {
  font-family: "Gotham";
  src: url('fonts/Gotham-Medium.woff') format('woff');
}

@font-face {
  font-family: "Gotham";
  src: url('fonts/Gotham-Bold.woff') format('woff');
}

body{
	font-family: 'proxima-nova', sans-serif;
	position:fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	width:100 %;
	height:auto;
	background-color: #212322 !important;
}

#mobile-history-show-1{
  display: none;
}

p {
  font-size: 1em;
  line-height: 1.6em;
}

.contact-list:hover {
  cursor: pointer;
}

#contact-submit:hover{
  cursor: pointer;
}

.historySelect{
	background: rgba(0,0,0,0);
    color: #fe2246;
    border: 0;
    border-bottom: 1px solid;
    font-weight: 500;
    font-size: 1.3em;
    margin-top: 1.2em;
    display: none;
}

.mobileRow{
	display:none;
	height:88%;
}

.speech-flex{
  display: flex;
}

.left-onlymobile{
	display:none;
}

.quote-content-mobile{
  display: none;
}

.hamburger-col{
  display: none;
}

.content-buffer-mobile{
	padding-top:5.5em;
	padding-bottom: 5.5em;
}

.content-buffer-fix{
	padding-top:5.5em;
	padding-bottom: 5.5em;
}


.innerMobileRow{
	height:50%;
	width:100%;
}

.explore-click:hover, .engage-click:hover{
  cursor: pointer;
}

#explore-mobile{
	background: url('/img/left-background-grayscale.jpg'); 
	background-size: cover;
	width:100%;
	height:100%;
}

#engage-mobile {
	background: url('/img/right-background-grayscale.jpg'); 
	background-size: cover;
	width:100%;
	height:100%;
}

.col {
	min-height: 500px;
	background-size: cover;
}


.logo{
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	display:block;
	width:80px;
}

#home-row{
	height:100vh; 
  display:block;
}

#explore {
	background: url('/img/left-background-grayscale.jpg') no-repeat center left fixed; 
	background-size: cover;
	height:100%;
	width:50%;
	padding:0;
	float:left;
	transition: background-image 0.5s ease;
}

#engage {
	background: url('/img/right-background-grayscale.jpg') no-repeat center right fixed; 
	background-size: cover;
	height:100%;
	width:50%;
	padding:0;
	float:left;
	transition: background-image 0.5s ease;
}

#engage:hover{
  background-image: url('/img/right-background.jpg'); 
}

.top-home-row {
	height:75%;
}

.mobile-nav-row{
	cursor: pointer;
}

.bottom-home-row {
	height:100%;
	font-size:4em;
}

.remove-15-row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.remove-15-padding {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.nav-container{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height:5vh;
}

.engage-text{
	position:absolute;
	right:0;
}

.red-line{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fe2246;
    margin: 1em 0;
    padding: 0; 
    width:90px;
}

.rl-container{
	width:20%;
}

.enx-container{
	width:80%;
}

.explore-text {
	padding-left: 22% !important;
	padding-bottom:0.15em;
}

.engage-text{
	padding-right: 0.5em !important;
	padding-bottom:0.15em;
}

.social-container, .contact-container{
	margin-top:2em;
}

.social-container{
	padding-left: 2em !important;
}

.contact-container{
	padding-right:2em !important;
}

#row4{
  min-height: 740px;
}

.heightfix-redl2{
  min-height: 1200px !important;
}

.text-link{
    color: #fe2246;
    display: inline-block;
    text-decoration: none !important;
    border: 1px solid #fe2246;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8em;
    padding-bottom: 0.3em;
}

.text-link:hover{
  background-color: #fe2246;
  color: white;
  transition: 0.5s;
}

.engage-link, .explore-link {
	font-family: 'proxima-nova', sans-serif;
	color: #fff;
	font-weight:700;
	letter-spacing: 6px;
    font-size: 0.9em;
}

.social-container img {
	margin-right:0.6em;
	height:25px;
}

.contact-slide{
	background: rgb(60, 60, 60);
	background: rgba(32, 32, 32, 0.9);
	border-left: 1px solid #fe2246;
	width:30% !important;
	height:100%;
	z-index:2;
	position:absolute !important;
	right:-1000px; /* Start way far away and later recalculate it to be -20% away */
	color: #fff;
	padding-top:4em;
	padding-left:3em !important;
	font-weight:bold;
}

.contact-slide input, .contact-slide textarea {
    background-color: #35363b;
    border: 0;
    padding: 0.4em;
    font-weight: 450;
    display: block;
    margin-bottom: 1.8em;
    width: 90%;
    font-size: 1.15em;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

.contact-slide ul li {
	margin-bottom: 0.4em;
    font-size: 1.25em;
    font-weight: 350;
}

#bottom-row{
	position: absolute;
	top:30vh;
	left:0;
	right:0;
	z-index: 1;
	height:20%;
}


#home-row-headers{
	position: absolute;
	top:80vh;
	left:0;
	right:0;
	z-index: 1;
	height:20%;
}

.explore-row:hover, .engage-row:hover{
	cursor:pointer;
}

.outline-item:hover{
  cursor: pointer;
}

.explore-row-bottom-left:hover, .engage-row-bottom-left:hover, .explore-row-bottom-right:hover, .engage-row-bottom-right:hover{
	cursor:pointer;
}

.contact-x{
	position: absolute;
	top:1.3em;
	right:2.3em;
	width:1.3em;
	height:1.3em;
	cursor:pointer;
}

#contact-form {
	margin-top:2em;
}

.message-box{
	height:10em;
	resize: none;
}

#contact-submit {
	background-color: #fe2246;
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    width: 25%;
    letter-spacing: 1px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;

}

.redl{
	border-top:1px solid #fe2246;
	position:absolute !important;
	height: 73%;
	bottom:0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	color:#fff;
	    top: 6vh;
	bottom:0 !important;
}

.redl-e{
	right:0;
}

.col-sm-2.remove-15-row.remove-15-padding.redl2.mobileSide{
  display: none;
}

.redl2{
	border-left: 1px solid #fe2246;
	height:100%;
	position: absolute;
	left: 3.9em;
	top:0;
	width: 4% !important;
}

.redl-active {
    left: 1.2em;
    width: 4% !important;
    border-left: 1px solid #fe2246;
}

.rot-text-container{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform-origin: left top 0;
    font-size: 0.2em;
    letter-spacing: 0.1em;
    padding-left: 1.5em;
    margin-left: 2em;
    display: none;
    width: 7em;
    font-weight: 600;
}

.content-2{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/explore-about.jpeg') no-repeat center left fixed;
	background-size: cover;
}

.contact-slide h1{
	margin-bottom: 1.2em;
    font-weight: 700;
    font-size: 2.3em;
    letter-spacing: 1px;
}

.content-2 h1{
	color:#fff;
	font-weight: 700;
    font-size: 3em;
    letter-spacing: 1px;
    margin-bottom:1em;
}

.content-2 p {
	color: #fff;
    font-size: 1.2em;
    font-weight: 440;
    margin-top: 1.6em;
    margin-left: 3em;
    width: 60%;
    word-spacing: 0.05em;
}

.circle-item{
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 7px;
    height: 7px;
    background: #fe2246;
    margin-left: 2.78em !important;
    display: inline-block;
    float: left;
}

.outline-item-text {
	color: #909090;
    left: 2em;
    display: inline-block;
    float: left;
    font-size: 0.7em;
    font-weight: 400;
    margin-top: -.405em;
    margin-left: 1.5em;
}

.oi-active-light {
	color: #fff;
	transition: color 0.5s ease;
    font-weight: 700 !important;
    font-size: 1em;
    margin-left: 1em !important;
}

.oi-active-dark {
	color: #333;
	transition: color 0.5s ease;
    font-weight: 700 !important;
    font-size: 1em;
    margin-left: 1em !important;
}

.circle-active{
	width: 11px;
    height: 11px;
    margin-left: 2.6em !important;
}

.outline-item {
	display: inline-block;
    width: 15em;
    margin-bottom:1.15em;
}

.testimonial-header{
  padding-bottom: 2.5em !important;
}

.testimonial-author{
  margin-bottom: 2vh;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.testimonial-quote{
  font-weight: 300;
  margin-top: 0;
  font-style: italic;
  margin-bottom: 8vh;
  margin-left: 0;
}

.red-arrow-link {
	color: #fe2246;
	font-weight: 540;
    word-spacing: 0.05em;
}

a.red-arrow-link:hover{
	text-decoration: none;
	color:#fe2246;
}


.whitebg{
	background: #fff !important;
}

.achievements-1{
	width:90%;
	margin-bottom:4em;
}

.achievements-2{
	width:70%;
	margin-top:10em;
}

.in-content-ul{
	font-weight:400;
	width:70%;
	margin-left:2em;
}


.in-content-ul ul li {
	list-style-type: disc !important;
}

.ac-h1{
	color:#000 !important;
	margin-bottom:0.5em !important;
}

.shift-text-content{
	margin-left:3em;
}

.outline-contain{
	padding-top: 3em;
	z-index:2;
}

.sticky-outline{
	position: fixed;
	top: 0;
	width: 15em;
}

.top-row-watch{
	margin-left:3em;
}

.graybg{
	background: #212322 !important;
	color:#fff !important;
}

h2{
	color:#fe2246 !important;
	font-size: 1.3em;
    font-weight: 400;
    word-spacing: 0.05em;

}

.modify-bp{
	margin-bottom: 0em !important;
}

.expedition-info{
	align-items: center;
}

.v-center{
	display: inline-block;
	vertical-align: middle;
	float:none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.graybg .col-sm-10 .row{
	padding-bottom: 6.5em;
}

.whiteEngageSection .col-sm-10 .row{
	padding-bottom: 6.5em;
}

.whiteEngageSection p {
	width:75% !important;
}

.whiteEngageSection img {
	padding-right:3.3em;
}



.graybg p {
	width:75% !important;
}

.graybg img {
	padding-right:3.3em;
}

.history {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/explore-history.jpg') no-repeat center left fixed; 
	background-size: cover;
	height: 80vh;
}

.ttent-row{
	padding-top:6em;
	padding-bottom:6em;
}

.history-menu-contain{
  min-width:400px;
  position: absolute !important;
  right: 0;
}

.history-menu {
	color: #A0A0A0;
	min-width:400px;
}

.history-menu-item {
	padding-top:0.3em;
	padding-bottom: 0.3em;
}

.history-menu-item:hover{
	cursor: pointer;
}

.history-menu-item span{
	display:inline-block;
	float:right !important;
	margin-right: -20px !important;
	font-size:0.9em;
}

.history-menu-obj {
	display:block;
	float: right;
	width:1.5em;
	height:1px;
	border-top: 1px solid #A0A0A0;
}

.vcenter-text{
	text-align: center;
	padding-right: 0px !important;
}

.hm-active span{
	color: #fe2246 !important;
	font-weight:bold !important;
}

.hm-active .history-menu-obj {
	border-color: #fe2246 !important;
	border-width: 2px !important;
}

.tools {
	background: #fff !important;
	color:#000 !important;
}

.tools h1{
	color: #000 !important;
	margin-bottom: 0 !important;
}

.tools p {
	color:#000 !important;
	margin-bottom: 5em;
}

.news-image{
  width:40vh;
  height: auto;
}

.tw-row .col-sm-4 {
	width:100%;
}

.tw-row:last-of-type .col-sm-4:last-of-type img {
	opacity:0.3;
}

.img-mask {
  background-color:#000;
}

.tw-row .col-sm-4 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.tweet-content{
  height: 33vh;
	color:#fff;
	padding:3em;
  font-weight: bold;
  display: none;
}

.parallax::after {
    /* Display and position the pseudo-element */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Move the pseudo-element back away from the camera,
     * then scale it back up to fill the viewport.
     * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: 100%;
    /* Keep the image from overlapping sibling elements. */ 
    z-index: -1;
  }

.instagram-pic:hover .tweet-content{
  display: inline-block;
}

.instagram-pic:hover .instagram-mask{
  display: inline-block;
}

.instagram-mask {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.tw-date {
	font-weight:normal !important;
	display: inline-block;
	width:100%;
}

.tw-handle{
	display: inline-block;
	width:100%;
	font-size: 1.85em;
    margin-bottom: 0.8em;
    display: inline-block;
}

.tw-text{
  height: 25vh;
  margin-bottom: 1.5em !important;
  overflow: hidden;
}

.logo-row .col-sm-3 img {
	width:78%;
	padding:1em;
}

.logo-row{
	padding-bottom: 0 !important;
}

.logo-row:first-of-type{
	margin-bottom:2em;
}

.logo-content{
}

.explore-bottom-col, .engage-bottom-col{
	padding-left:0 !important;
	padding-right: 0 !important;
}

.explore-bottom-img, .engage-bottom-img{
	width:100%;
}

.advocacy-right{
  padding-right: 0 !important;
}

.float-redline {
	position: absolute !important;
	z-index: 2;
	height:100%;
}

.redl-float-contain{
	position: relative;
}

.content-buffer{
	padding-top:5.5em;
	padding-bottom: 5.5em
}

.expedition-img {
	width:100% !important;
	position:relative;
}

.advocacy-img-left {
	width:100% !important;
	position:relative;    margin-left: -3vw;
  margin-left: -3vw;
  padding-right: 0 !important
}

.advocacy-img-right {
	width:100% !important;
  position:relative;
}

.advocacy-mobile{
  display: none;
}

.video-overlay{
	position: absolute;
	z-index: 2;
}

.logo-and-link-contain{
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 0 !important;
    height: 100%;
    text-align: center;
    margin-top: 42%;
    z-index: 10;
}

.logo-overlay{
	display: inline-block;
	max-width: 50%;
    padding-right: 0 !important;
    max-height: 18%;
}

.lm-link{
	display: inline-block;
	margin-right:2em;
	position: relative;
}

.watch-speech{
	display: inherit;
    color: #fe2246 !important;
    border-bottom: 1px solid;
    border-color: #fe2246 !important;
    margin-bottom: 2em;
    display: none;
    font-weight: 500;
    margin-top:1em;
    cursor: pointer;
}

.watch-speech:hover{
	color: #fe2246;
	text-decoration: none;
	border-color: #fe2246 !important;
}

.img-center {display: block; margin:0 auto;}

.video-overlay{
	z-index: 2;
}

.centered-image {
     margin: 0;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}

.centered-image2 {
     margin: 0;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}

.logo-col {
	text-align: center
}

.final-ex-en{
	position: absolute;
    top: -0.4em;
}

.redl-engage-bottom{
	border-top:1px solid #fe2246;
	height: 73%;
	bottom:0;
	width:12% !important;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	color:#fff;
	top:27%;
	bottom:0 !important;
}

.pad-mod {
	padding-left: 5% !important;
}

.web-coordinates-table{
  display: none;
}

.pad-mod-2{
	position: absolute;
    right: 0;
    padding-right: 5% !important;
}

.horiz-align{
	justify-content: center;
}

.history-active {
  display:block !important;
  width: 70vw;
}

.history-content{
	display:none;
}

.history-content-row{
	padding-top:5em;
	height:30em !important;
}

.left-angle, .press-item, .right-angle {
	float:left;
	width:2.7em;
	height: 2.7em;
    cursor: pointer;
}

.press-item {
	width: 2.7em;
    display: inline-block;
    border-top: 3px solid #999;
    height: 3px;
}

.left-angle {
	background: url('../img/leftarr.png');
}

.right-angle {
	background: url('../img/rightarr.png');
}

.press-item-container{
	width: 2.7em;
	height: 2.45em;
	float:left;
    margin-left: 0.3em;
    margin-right: 0.3em;
    cursor: pointer;
}

.press-item-active {
    border-color: #fe2246;
}

.press-scroller{
	text-align: center;
}

.press-scroller-container{
	height:2.7em;
	display: inline-block;
}

.inactive-press{
	display:none !important;
}

.active-press{
}

.press-content {
  width: 90vw;
  height: 42vh;
}

.cb-margin{
	margin-left: 4em;
}

.instagram-pic{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-left: none;
  margin-right: none;
}

#explore-instagram{
  width:100%;
  display: flex;
  flex-direction: row;
}

.history-menu-mobile{
  display: none;
}

#explore-instagram-second-row{
  width:100%;
  display: flex;
  flex-direction: row;
}

#instagram-wrapper-mobile{
  display: none;
}

#explore-instagram-mobile{
  display: none;
}

#explore-instagram-second-row-mobile{
  display: none;
}

#engage-instagram{
  width:100%;
  display: flex;
  flex-direction: row;
}

#engage-instagram-second-row{
  width:100%;
  display: flex;
  flex-direction: row;
}
.press-modify{
	padding-bottom: 2em !important;
    margin-left: -15px !important;
}

.modalCA{
	position: fixed;
	height:81vh;
	width:60vw;
	background-color:#181818;
	z-index:12;
	left: 0; 
	right: 0; 
	top:0;
	bottom:0;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: auto; 
	margin-bottom: auto; 
	display:none;
}

.modalMask{
	width:100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,.5);
	z-index: 11;
	top:0;
	left:0;
	display: none;
}

.modalCA h1, .modalCA p{
	z-index: 4;
	color: #fff;
	text-align: left;
	width:75%;
}

.modal-inner{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}

.modal-close{
	position: absolute;
	right:0;
	top:-2em;
	width: 1.3em;
	height: 1.3em;
	cursor: pointer;
}

.video-overlay{
	cursor: pointer;
}

.modal-iframe-row{
	margin-top:3em;
	margin-bottom:3.5em;
	text-align: center;
	padding-left:30px;
	padding-right:30px;
}

.modal-video-contain{
	display: inline-block;
	text-align: left !important;
	width:85% !important;
}

.modal-content-row{
	width:100%;
}

.modal-content-col{
	text-align: center;
}

.modal-content-contain{
	width:85% !important;
	display:inline-block;
}

.modal-hr{
	width: 4vw;
	background-color: #fe2246;
}

.modal-contain-active{
	display:inline-block !important;
	text-align: left !important;
}

.modal-video-active{
	display:inline-block !important;
}

.engage-link{
	float:right;
	padding-top:.21em;
}

.engage-experience{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/engage-bg-exp.jpg') no-repeat center left fixed;
	background-size: cover;
	height: 70vh;
}

.whiteEngageSection{
	background:#fff !important;
	color: #000 !important;
}

.whiteEngageSection h2, .whiteEngageSection p {
	color: #000 !important;
}

.speaking-div p{
	color:#000 !important;
	width: 85% !important;
	font-size:1.7em;
	font-weight:500;
	margin-left: 0.5em;
}

.speech-img{
	width: 100%;
    height: 100%;
    padding-right: 0 !important;
}

.speech-row{
	position: absolute;
    margin-top: 5em;
    right: 2em;
}

.speech-content{
	padding-bottom:7em;
}

.quote-content{
	padding-top:23em;
}

.speech-mask{
	background-color:#000;
	opacity:0.6;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
  display: none;
}

.speech-container:hover .speech-mask{
  display: block;
}

.speech-container:hover .watch-speech{
  display: inline-block;
}

.history-p-width{
	width:71% !important;
}

.testimonial-author, .testimonial-quote{
	display: inline-block;
    width: 100%;
    text-align: center;
}

.testimonial-hr{
	border-width: 2px !important;
}

.coordinates-copy{
	color: #000 !important;
  font-weight:500;
  width: 85%;
}

.coordinates-table{
	margin-top:4em;
	width:81%;
	font-size:1.1em;
}

.center-logos{
  margin-left: 10vw;
}

.coordinates-table tr{
	border-bottom: 1px solid #707070;

}

.coordinates-table td {
	padding-right:2.5em;
	padding-top:1.2em;
	padding-bottom: 1.2em;
}

.coordinates-heading{
	font-weight: 500;
	color: #A8A8A8;
	font-size: .85em;
}

.team-headshot{
	width:100%;
	display: inline-block;
	padding-right: 0 !important;
}

.team-row{
  padding-top:4em;
  margin-left: -2vh !important;
}

.team-name, .team-position{
	display:inline-block;
	width:100%;
	text-align: center;
}

.team-name{
	font-weight: 500;
    font-size: 1.35em;
    padding-top: 1em;
    padding-bottom: 0.15em;
}

.team-position {
	color: #fe2246;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	font-size: 0.95em;
}

.team-container{
	text-align: center;
	margin-right:3em !important;
}

.mobile-press-info{
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 23vh;
  width: 10vw;
}

@media(min-width: 768px) and (max-width:1096px) {
	h1 {
		font-size: 8vw !important;
	}
	h2 {
		font-size: 6vw !important;
  }

 .pad-mod-left{
   left: 0
 }
  
  #home-row-headers{
    display: none !important;
  }

	.mobileRow{
		display:block !important;
		height: 91vh !important;
	}

	.explore-text {
		padding-left:1em !important;
		font-size: .6em !important;
		position: absolute;
		left:1em;
	}

	.exp-mobile-col {
		padding-left:0 !important;
		padding-right: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.in-content-ul {
	    margin-left: 4vh !important;
	    width: 84%;
	}

	.dl-bio{
		display:none;
	}

	.shift-text-content {
	    margin-left: 0em !important;
	}

	.graybg p {
		width: 90% !important;
	}

	.logo-row{
		max-width:100% !important;
	}

	.logo-col{
		min-width:50% !important;
	}

	.history {
		height: 120vh !important;
	}

	.history-row-mobile-2{
		margin-bottom:2em;
	}

	.center-logos{
		float:none;
		margin:0 auto;
		padding-right:0 !important;
	}

	.ps-outer-contain{
		position: absolute;
		padding-bottom:2em;
		width:90%;
	}

	.mobileh1{
		margin-left: 0.9em;
	}

	.remove-mobile{
		display: none !important;
	}

	.historySelect{
		display: block !important;
	}

  #bottom-row{
    top:7vh !important;
    display: flex;
    align-items: center;
  }

	.dropdown-col{
		min-width:600px;
	}

	.mobile-press-width{
		width: 115vh;
    padding-bottom: 1.6em !important;
    position: absolute;
	}

	.history-content-row{
		padding-top: 0 !important;
	}

	.content-buffer-fix{
		margin-left: 0em;
		max-width: 100% !important;
	    width: 100% !important;
	    flex: 100% !important;
		padding-top:5.5em;
		padding-bottom: 0 !important;
	}

	.historyMobile{
	    padding-left: 3em;
	}

	.graybg img {
		padding-right:0 !important;
	}

	.history-col-mobile{
	    padding-left: 3em;
    	padding-right: 3em;
	    max-width: 100% !important;
		width: 100% !important;
		flex: 100% !important;
	}

	.flex-modify{
		max-width: 100% !important;
		width: 100% !important;
		flex: 100% !important;
	}

	.expedition-info{
		padding-top: 4em;
	    padding-left: 4em !important;
	    padding-right: 4em !important;
	}

	.history-menu-contain{
		display:none;
  }


	.mobile-expedition-row{
		padding-bottom: 4em;
	}

	.content-buffer-mobile{
		margin-left: -3em;
		padding-top:5.5em;
		padding-bottom: 5.5em;
	}

	.history-body{
	    width: 100% !important;
	    max-width: 100% !important;
	    flex: 100% !important;
  }
  


  .history-body-mobile{
    display: none;
  }

	.mobile-expedition-img{
		padding-right: 0;
	}

	.mobileSide{
		display:none;
	}

	.mobilePadding{
		padding-left:0px !important;
		padding-right:0px !important;
	}

	.content-2 p {
		width: 85% !important;
		font-size: 5vw !important;
		margin-left: 2vh !important;
	}

	.historySelect {
		font-size: 5vw !important;
	}

	.in-content-ul{
		font-size: 5vw !important;
	}

	.left-notmobile{
		display:none;
	}

	.left-onlymobile{
		display:block !important;
	}


	.redl{
		width:120px !important;
		top: 31% !important;
	}
	.redl-active{
		left:6em !important;
	}

	.float-redline, .outline-contain, .redl2{
		display:none !important;
	}

	.rot-text-container{
		font-size: 1em !important;
	}

	.nav-container{
		background-color: #212322;
		height:12vh !important;
		position: relative !important;
		padding-left:0 !important;
		padding-right: 0 !important;
		margin-left:0 !important;
		margin-right: 0 !important;
		padding-bottom: 0.5em;
	}

	.social-container{
		display:none;
	}

	.logo {
		float:left;
		width:auto !important;
		height:80%;
	}

	#contact-link{
		display: none;
	}

	#home-row{
		display: none !important;
	}

	#mobileRow{
		display: block;
	}

	.explore-link{
		font-size: 10vw !important;
		padding-left: 0.75em;
	}

	.container-fluid{
		padding-left:0 !important;
		padding-right: 0 !important;
		margin-left:0 !important;
    margin-right: 0 !important;
    max-width: 1096px;
	}

	.mobile-nav-row{
		position: absolute;
    	bottom: 0;
    	padding-bottom: 3em;
	}

	.mobile-press-info{
		padding-left: 0 !important;
    padding-right: 0 !important;
    height: 23vh;
    width: 10vw;
	}

	.press-full-container{
		height: 145vh;
	}
	/*make a unversal width limiter class for selected cols 
	.col {
		min-width: 500px;
	}*/
}


@media(max-width:1096px) {
	.graybg p {
		width: 90% !important;
	}

	.content2 p.history-p-width{
		width:100% !important;
	}
}

.mobile-press-width{
  width:90%;
  padding-bottom: 1.6em !important;
  position: absolute;
}

.ps-outer-contain{
  position: absolute;
  bottom: 4em;
  width: 90%;
}


@media(min-width:1096px) {
  
  #row6{
    height: 750px;
  }
  
    .mobileRow{
      display:none !important;
    }
  
    .redl{
      width:5% !important;
    }
  }

  @media(max-height: 1096px) {
    .press-full-container {
        height: 90vh;
    }
  }