{% extends "_layout.html" %} {% block pageTitle %}Homepage{% endblock %} {% block main %}
<!-- Explore Section -->
{% set entry = craft.entries.section('explore').first() %}
<div class="modalMask exploreMask"></div>

<div class="modalCA exploreModal">
  <div class="modal-inner">
    <img class="modal-close" src="img/x-close.png">

    <div class="row modal-iframe-row remove-15-padding remove-15-row">
      <div class="col modal-content-col" id="match-modal-width">
        <div class="modal-video-contain">

        </div>

      </div>
    </div>

    <div class="row modal-content-row remove-15-padding remove-15-row">
      <div class="col modal-content-col">
        <div class="modal-content-contain">
          <h1 class="modal-h1 modify-bp"></h1>
          <hr class="modal-hr" align="left">
          <p class="modal-p">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">


  <div class="row nav-container remove-15-row">
    <div class="col social-container">
      <a href="https://www.instagram.com/conrad_anker/" target="_blank">
        <img src="img/social_instagram.png">
      </a>
      <a href="https://twitter.com/conradanker" target="_blank">
        <img src="img/social_twitter.png">
      </a>
      <a href="https://www.facebook.com/ConradAnkerOfficial/" target="_blank">
        <img src="img/social_facebook.png">
      </a>

    </div>
    <div class="col" align="center'">
      <a href="/">
        <img class="logo" src="img/logo.png">
      </a>
    </div>
    <div class="col text-right contact-container">
      <a id="contact-link" class="text-link" href="#">CONTACT</a>
    </div>


  </div>

  <div class="row mobileRow">
    <div class="innerMobileRow" id="explore-mobile-row">
      <div class="col remove-15-row remove-15-padding" id="explore-mobile">
        <div class="row mobile-nav-row" id="explore-mobile-click">
          <div class="col-sm-3 remove-15-row remove-15-padding redl">
            <div id="explore-rot-text-mobile" class="rot-text-container">
              Scroll &rarr;
            </div>

          </div>

          <div class="col-sm-9 explore-text align-items-center">
            <span class="explore-link">EXPLORE</span>
          </div>
        </div>
      </div>
    </div>

    <div class="innerMobileRow" id="engage-mobile-row">
      <div class="col remove-15-row remove-15-padding" id="engage-mobile">
        <div class="row mobile-nav-row" id="engage-mobile-click">
          <div class="col-sm-3 remove-15-row remove-15-padding redl">
            <div id="explore-rot-text" class="rot-text-container">
              Scroll &rarr;
            </div>

          </div>

          <div class="col-sm-9 explore-text align-items-center">
            <span class="explore-link">ENGAGE</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="home-row">


    <div class="col" id="explore">
      <div class="row top-home-row remove-15-row"></div>

    </div>
    <div class="col" id="engage">
      <div class="row top-home-row remove-15-row"></div>

    </div>

    <div class="col contact-slide">
      <img class="contact-x" src="img/x-close.png">

      <h1 class="contact-title" style="margin-bottom:1.2em;">Contact</h1>

      <ul>
        <li type="circle">Speaking Engagement</li>
        <li>Endorsement</li>
        <li>General Inquiry</li>
      </ul>

      <form id="contact-form">
        <input type="text" name="email" id="contact-email" placeholder="Your email" />
        <input type="text" name="subject" id="contact-subject" placeholder="Subject" />
        <textarea name="message" class="message-box"></textarea>
      </form>

      <input type="submit" id="contact-submit" value="SEND" />
    </div>
  </div>

  <div class="row" id="home-row-headers">
    <div class="col resize-bottom-explore">
      <div class="row bottom-home-row remove-15-row explore-row">
        <div class="col-sm-2 remove-15-row remove-15-padding redl">
          <div id="explore-rot-text" class="rot-text-container">
            Scroll &rarr;
          </div>

        </div>

        <div class="col-sm-10 explore-text align-items-center">
          <span class="explore-link">EXPLORE</span>
        </div>
      </div>
    </div>
    
    <div class="col resize-bottom-engage">
      <div class="row bottom-home-row remove-15-row engage-row">

        <div class="col-sm-10 explore-text align-items-center">
          <span class="engage-link">ENGAGE</span>
        </div>


        <div class="col-sm-2 remove-15-row remove-15-padding redl-e redl">
          <div id="engage-rot-text" class="rot-text-container">
            Scroll &rarr;
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row content-2 exploreSection" id="row1">
    <div class="col-sm-2 remove-15-row remove-15-padding float-redline">
      <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
    </div>

    <div class="col-sm-2">

      <div class="outline-contain">
        <div class="outline-item" id="about-outline">
          <div class="circle-item circle-active"></div>
          <span class="outline-item-text oi-active oi-active-light">ABOUT</span>
        </div>

        <div class="outline-item" id="achievements-outline">
          <div class="circle-item"></div>
          <span class="outline-item-text">ACHIEVEMENTS</span>
        </div>

        <div class="outline-item" id="expeditions-outline">
          <div class="circle-item"></div>
          <span class="outline-item-text">EXPEDITIONS</span>
        </div>

        <div class="outline-item" id="history-outline">
          <div class="circle-item"></div>
          <span class="outline-item-text">HISTORY</span>
        </div>

        <div class="outline-item" id="tools-outline">
          <div class="circle-item"></div>
          <span class="outline-item-text">TOOLS</span>
        </div>

        <div class="outline-item" id="press-outline">
          <div class="circle-item"></div>
          <span class="outline-item-text">PRESS</span>
        </div>
      </div>

    </div>

    <div class="col-sm-10 content-buffer content-buffer-mobile">
      <h1 style="margin-top: 1.2em;">Find Alpine Adventure</h1>
      {{entry.findAlpineAdventureBodyCopy}}

      <p>
        <a href="#" class="red-arrow-link dl-bio">DOWNLOAD FULL CONRAD BIO &rarr;</a>
      </p>
    </div>
  </div>

  <div class="row content-2 whitebg exploreSection" id="row2">
    <div class="col-sm-2 remove-15-row remove-15-padding">
      <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
    </div>

    <div class="col-sm-10 content-buffer-mobile">
      <div class="row">
        <div class="col">
          <img src="img/achievements1.jpeg" class="achievements-1 remove-mobile">
          <div class="shift-text-content">
            <h1 class="ac-h1">Achievements</h1>
            <div class="in-content-ul">
              {{entry.achievements}}
            </div>
          </div>
        </div>

        <div class="col remove-mobile">
          <img src="img/achievements2.jpeg" class="achievements-2">
        </div>
      </div>
    </div>
  </div>

  <div class="row graybg content-2 exploreSection mobilePadding" id="row3">
    <div class="col-sm-2 remove-15-row remove-15-padding mobileSide">
      <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
    </div>

    <div class="col-sm-10 content-buffer-fix">
      <div class="row expedition-intro-row">
        <div class="col top-row-watch">
          <h2 class="ex-h2">Recent Expeditions</h2>
          <h1 class="modify-bp">Watch Conrad</h1>
          <p class="ex-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt leo eget tellus finibus elementum. Aliquam scelerisque
            cursus magna in elementum. Integer blandit laoreet nibh, a porta erat. Integer ultricies viverra pharetra. Phasellus
            vel nisi massa. Nunc placerat neque facilisis justo hendrerit consectetur. Pellentesque eu dolor vel felis congue
            consectetur nec in neque.
          </p>
        </div>
      </div>

      {% for expedition in entry.recentExpeditions %} {% if expedition.type == "rightSideThumbnail" %}
      <div class="row vertical-align mobile-expedition-row">
        <div class="col dropdown-col left-onlymobile exp-mobile-col">
          {% set doc = expedition.thumbnailImage.first() %} {% if doc %} {% if expedition.videoLink|length %}
          <a class="modal-init" onclick='initModal("{{expedition.videoLink}}", "{{expedition.nameOfExpedition}}", "{{expedition.expeditionDescription}}")'>
            <img class="video-overlay centered-image" src="img/playbutton.png">
          </a>


          {% endif %}

          <img class="expedition-img" src="{{doc.url}}"> {% endif %}
        </div>

        <div class="col expedition-info v-center dropdown-col exp-mobile-col">
          <div class="v-center">
            <h2 style="color:#fff !important;">{{expedition.nameOfExpedition}}</h2>
            <p>
              {{expedition.expeditionDescription}}
            </p>

            <p>
              {% if expedition.learnMoreLink|length %}
              <a href="{{expedition.learnMoreLink}}" class="red-arrow-link lm-link">LEARN MORE &rarr;</a>
              {% endif %} {% if expedition.purchaseLink|length %}
              <a href="{{expedition.purchaseLink}}" class="red-arrow-link">PURCHASE &rarr;</a>
              {% endif %}
            </p>
          </div>
        </div>

        <div class="col dropdown-col left-notmobile exp-mobile-col">
          {% set doc = expedition.thumbnailImage.first() %} {% if doc %} {% if expedition.videoLink|length %}
          <a class="modal-init" onclick='initModal("{{expedition.videoLink}}", "{{expedition.nameOfExpedition}}", "{{expedition.expeditionDescription}}")'>
            <img class="video-overlay centered-image" src="img/playbutton.png">
          </a>


          {% endif %}

          <img class="expedition-img" src="{{doc.url}}"> {% endif %}
        </div>
      </div>
      {% endif %} {% if expedition.type == "leftSideThumbnail" %}
      <div class="row vertical-align mobile-expedition-row">
        <div class="col dropdown-col exp-mobile-col">
          {% set doc = expedition.thumbnailImage.first() %} {% if doc %} {% if expedition.videoLink|length %}
          <a class="modal-init" onclick='initModal("{{expedition.videoLink}}", "{{expedition.nameOfExpedition}}", "{{expedition.expeditionDescription}}")'>
            <img class="video-overlay centered-image" src="img/playbutton.png">
          </a>
          {% endif %}

          <img class="expedition-img" src="{{doc.url}}"> {% endif %}
        </div>

        <div class="col expedition-info v-center dropdown-col exp-mobile-col">
          <div class="v-center">
            <h2 style="color:#fff !important;">{{expedition.nameOfExpedition}}</h2>
            <p>
              {{expedition.expeditionDescription}}
            </p>

            <p>
              {% if expedition.learnMoreLink|length %}
              <a href="{{expedition.learnMoreLink}}" class="red-arrow-link lm-link">LEARN MORE &rarr;</a>
              {% endif %} {% if expedition.purchaseLink|length %}
              <a href="{{expedition.purchaseLink}}" class="red-arrow-link">PURCHASE &rarr;</a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}

    </div>
  </div>

  {% set initialBackgroundImage = entry.history.first() %} {% set doc = initialBackgroundImage.eventBackgroundImage.first()
  %}

  <div class="row history content-2 exploreSection historyMobile" id="row4" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({{doc.url}}) no-repeat center left fixed;">
    <div class="col-sm-2 remove-15-row remove-15-padding mobileSide">
      <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
    </div>

    <div class="col-sm-10 content-buffer">
      <div class="row history-row-mobile-2">
        <div class="col">
          <h1 class="modify-bp">History</h1>
          <select class="historySelect">
            {% for event in entry.history %}
            <option value="{{event.nameOfEvent}}">{{event.nameOfEvent}}</option>
            {% endfor %}
          </select>
        </div>
      </div>


      <div class="row history-content-row">
        <div class="col-sm-7 history-body">
          {% for event in entry.history %}
          <div class="history-content{% if loop.first %} history-active{% endif %}">
            <h2 style="color:#fff !important;">{{event.nameOfEvent}}</h2>
            <p class="history-p-width">
              {{event.eventDescription}}
            </p>
            <p>
              <a href="#" class="red-arrow-link" style="margin-right:2em;">SEE GALLERY &rarr;</a>
              <a href="#" class="red-arrow-link">SEE VIDEO &rarr;</a>
            </p>

          </div>

          {% endfor %}
        </div>

        <div class="col-sm-5 remove-15-padding history-menu-contain">
          <div class="history-menu">
            {% for event in entry.history %}

            <div class="history-menu-item{% if loop.first %} hm-active{% endif %}">
              <div class="row vertical-align">
                <div class="col-sm-10 vcenter-text">
                  <span>{{event.nameOfEvent}}</span>
                </div>
                <div class="col-sm-2">
                  <div class="history-menu-obj"></div>
                </div>
              </div>
            </div>

            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row tools content-2 exploreSection" id="row5">
    <div class="col-sm-2 remove-15-row remove-15-padding mobileSide">
      <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
    </div>

    <div class="col-sm-10 content-buffer-fix">
      <div class="row"></div>
      <h1 class="mobileh1">Tools</h1>
      <p>
        {{entry.theGearRoomBody}}
      </p>
      <div class="row vertical-align remove-15-row remove-15-padding">
        <img src="img/tools.jpg" style="max-width: 100%">
      </div>
    </div>
  </div>

  <div class="row graybg content-2 exploreSection" id="row6">
    <div class="col-sm-2 remove-15-row remove-15-padding mobileSide">
      <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
    </div>

    <div class="col-sm-10 content-buffer-fix">
      <div class="row remove-15-padding remove-15-row press-modify">
        <h1 class="modify-bp">Press</h1>
      </div>

      <div class="row remove-15-padding remove-15-row mobile-press-width">
        {% for pressItem in entry.press %}
        <div class="press-content row vertical-align{% if loop.first %} active-press{% else %} inactive-press{% endif%}">
          <div class="col-sm-4 remove-15-padding dropdown-col flex-modify">
            <img src="img/cbs.png" class="news-image">
          </div>

          <div class="col-sm-8 expedition-info v-center dropdown-col flex-modify mobile-press-info">
            <div class="v-center">
              <h2 style="color:#fff !important;">{{pressItem.publication}}</h2>
              <p>
                <span style="font-weight:bold;">{{pressItem.articleTitle}}</span>
                <br> {{pressItem.description}}
              </p>
              <p>
                <a href="{{pressItem.seeMoreLink}}" class="red-arrow-link">SEE MORE &rarr;</a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


      <div class="remove-15-padding remove-15-row ps-outer-contain">
        <div class="col-sm-11 press-scroller">
          <div class="press-scroller-container">
            <div class="left-angle"></div>

            {% for pressItem in entry.press %}
            <div class="press-item-container vertical-align">
              <div class="press-item{% if loop.first %} press-item-active {% endif %}"></div>
            </div>
            {% endfor %}

            <div class="right-angle"></div>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>

  <div class="row tw-row redl-float-contain exploreSection">
    <div class="col-sm-2 remove-15-row remove-15-padding float-redline">
      <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
    </div>
    <div id="explore-instagram"></div>
  </div>

  <div class="row tw-row vertical-align redl-float-contain exploreSection">
    <div class="col-sm-2 remove-15-row remove-15-padding float-redline">
      <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
    </div>
    <div id="explore-instagram-second-row"></div>
  </div>

  <div class="row graybg content-2 logo-content redl-float-contain exploreSection">
    <div class="col-sm-2 remove-15-row remove-15-padding float-redline mobileSide">
      <div class="col-sm-2 remove-15-row remove-15-padding redl2 mobileSide"></div>
    </div>

    <div class="col-sm-2 mobileSide"></div>

    <div class="col-sm-10 content-buffer center-logos" style="padding-right: 6em;">
      <div class="row logo-row">
        {% set counter = 0 %} {% for company in companySponsors.sponsors %} {% if counter
        < 4 %} {% set doc=company.logo.first() %} {% if doc %} <div class="col-sm-3 logo-col vertical-align horiz-align">
          <a href="{{company.urlToWebsite}}" target="_blank">
            <img class="logo-img" src="{{doc.url}}">
          </a>
      </div>
      {% endif %} {% endif %} {% set counter = counter + 1 %} {% endfor %}
    </div>

    <div class="row logo-row">
      {% set counter = 0 %} {% for company in companySponsors.sponsors %} {% if counter >= 4 %} {% set doc = company.logo.first()
      %} {% if doc %}
      <div class="col-sm-3 logo-col vertical-align horiz-align">
        <a href="{{company.urlToWebsite}}" target="_blank">
          <img class="logo-img" src="{{doc.url}}">
        </a>
      </div>
      {% endif %} {% endif %} {% set counter = counter + 1 %} {% endfor %}
    </div>
  </div>
</div>

<div class="row bottom-content exploreSection" id="row10">
  <div class="col explore-bottom-col">
    <div class="row"></div>
    <div class="row" id="bottom-row" style="font-size:4em;">
      <div class="col-sm-2 remove-15-row remove-15-padding redl-engage-bottom"></div>

      <div class="col-sm-10 explore-text align-items-center pad-mod">
        <span class="explore-link final-ex-en pad-mod-left">EXPLORE</span>
      </div>
    </div>
  </div>


  <div class="col engage-bottom-col">
    <img src="/img/engage-bottom.jpg" class="engage-bottom-img">
    <div class="row"></div>
    <div class="row" id="bottom-row" style="font-size:4em;">
      <div class="col-sm-10 remove-15-row remove-15-padding">
        <span class="explore-link final-ex-en pad-mod-2">ENGAGE</span>
      </div>
      <div class="col-sm-2 remove-15-row remove-15-padding redl-engage-bottom"></div>

    </div>
  </div>
</div>


<!-- Engage section -->
{% set entry = craft.entries.section('engage').first() %}
<div class="row content-2 engageSection engage-experience">
  <div class="col-sm-2 remove-15-row remove-15-padding float-redline">
    <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
  </div>

  <div class="col-sm-2">

    <div class="outline-contain">
      <div class="outline-item" id="about2-outline">
        <div class="circle-item circle-active"></div>
        <span class="outline-item-text oi-active oi-active-light">ABOUT</span>
      </div>

      <div class="outline-item" id="advocacy-outline">
        <div class="circle-item"></div>
        <span class="outline-item-text">ADVOCACY</span>
      </div>

      <div class="outline-item" id="speaking-outline">
        <div class="circle-item"></div>
        <span class="outline-item-text">SPEAKING</span>
      </div>

      <div class="outline-item" id="filler-outline">
        <div class="circle-item"></div>
        <span class="outline-item-text">FILLER</span>
      </div>

      <div class="outline-item" id="testimonials-outline">
        <div class="circle-item"></div>
        <span class="outline-item-text">TESTIMONIALS</span>
      </div>

      <div class="outline-item" id="coordinates-outline">
        <div class="circle-item"></div>
        <span class="outline-item-text">COORDINATES</span>
      </div>
    </div>

  </div>

  <div class="col-sm-10 content-buffer">
    <h1 style="margin-top: 1.2em;">Be Good. Be Kind. Be Happy.</h1>
    {{entry.beGoodBeKindBeHappyBodyCopy}}
  </div>
</div>

<div class="row whiteEngageSection content-2 engageSection" id="row2a">
  <div class="col-sm-2 remove-15-row remove-15-padding">
    <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
  </div>

  <div class="col-sm-10 content-buffer">
    <div class="row expedition-intro-row">
      <div class="col top-row-watch">
        <h1 style="color:#000000 !important;">Advocacy</h1>
        <p>
          {{entry.advocacyBodyCopy}}
        </p>
      </div>
    </div>

    {% for organization in entry.advocacyOrganizations %} {% if organization.type == "rightSideImage" %}
    <div class="row vertical-align">
      <div class="col expedition-info v-center">
        <div class="v-center">
          <h2 style="color:#000000 !important;">{{organization.nameOfOrganization}}</h2>
          <p>
            {{organization.shortDescription}}
          </p>

          <p>
            {% if organization.learnMoreLink|length %}
            <a href="{{organization.learnMoreLink}}" class="red-arrow-link lm-link">LEARN MORE &rarr;</a>
            {% endif %}
          </p>
        </div>
      </div>

      <div class="col">
        {% set doc = organization.thumbnailImage.first() %} {% if doc %}
        <img class="expedition-img" src="{{doc.url}}"> {% endif %}
      </div>
    </div>
    {% endif %} {% if organization.type == "leftSideImage" %}
    <div class="row vertical-align">
      <div class="col">
        {% set doc = organization.thumbnailImage.first() %} {% if doc %}
        <img class="expedition-img" src="{{doc.url}}"> {% endif %}
      </div>

      <div class="col expedition-info v-center">
        <div class="v-center">
          <h2 style="color:#fff !important;">{{organization.nameOfOrganization}}</h2>
          <p>
            {{organization.shortDescription}}
          </p>

          <p>
            {% if organization.learnMoreLink|length %}
            <a href="{{organization.learnMoreLink}}" class="red-arrow-link lm-link">LEARN MORE &rarr;</a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}

  </div>
</div>

<div class="row graybg content-2 logo-content redl-float-contain speech-content engageSection" id="row3a">
  <div class="col-sm-2 remove-15-row remove-15-padding float-redline">
    <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
  </div>

  <div class="col-sm-2"></div>

  <div class="col-sm-10 content-buffer" style="padding-right: 6em;">
    <h1>Speaking</h1>
    <p>
      {{entry.speakingBodyCopy}}
    </p>

    <div class="row speech-row">
      {% for speech in entry.speeches %}
      <div class="col remove-15-row remove-15-padding">
        {% set doc = speech.backgroundImage.first() %} {% set doc2 = speech.Logo.first() %} {% if doc %} {% if doc2 %}
        <img src="{{doc.url}}" class="speech-img">
        <div class="speech-mask"></div>
        <div class="logo-and-link-contain">
          <img src="{{doc2.url}}" class="logo-overlay"> {% if speech.youtubeLink|length %}
          <br>
          <a class="watch-speech" onclick='initModal("{{speech.youtubeLink}}", "", "")'>WATCH SPEECH</a>
          {% endif %}
        </div>
        {% endif %} {% endif %}

      </div>
      {% endfor %}
    </div>

  </div>
</div>

<div class="row content-2 whitebg engageSection" id="row4a">
  <div class="col-sm-2 remove-15-row remove-15-padding">
    <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
  </div>

  <div class="col-sm-10 content-buffer quote-content">
    <div class="row">
      <div class="col">
        <img src="img/achievements1.jpeg" class="achievements-1">
        <div class="speaking-div">
          {{entry.conradQuote}}



        </div>
      </div>

      <div class="col">
        <img src="img/achievements2.jpeg" class="achievements-2">
      </div>
    </div>
  </div>
</div>

<div class="row content-2 graybg engageSection engage-testimonials" id="row5a">
  <div class="col-sm-2 remove-15-row remove-15-padding">
    <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
  </div>

  <div class="col-sm-10 content-buffer">
    <div class="row">
      <div class="col">
        <h1>Testimonials</h1>
      </div>
    </div>

    <div class="row">
      {% for testimonial in entry.testimonials %}
      <div class="col">
        <span class="testimonial-author">{{testimonial.nameOfPerson}}</span>
        <hr class="modal-hr testimonial-hr">
        <p class="testimonial-quote">{{testimonial.quote}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row content-2 whitebg engageSection" id="row6a">
  <div class="col-sm-2 remove-15-row remove-15-padding">
    <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
  </div>

  <div class="col-sm-10 content-buffer">
    <div class="row">
      <div class="col">
        <h1 class="ac-h1">Coordinates</h1>
        <p class="coordinates-copy">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt leo eget tellus finibus elementum. Aliquam scelerisque
          cursus magna in elementum. Integer blandit laoreet nibh, a porta erat. Integer ultricies viverra pharetra. Phasellus
          vel nisi massa. Nunc placerat neque facilisis justo hendrerit consectetur. Pellentesque eu dolor vel felis congue
          consectetur nec in neque.
        </p>
        <table class="coordinates-table">
          <tr class="coordinates-heading">
            <td>DATE</td>
            <td>TITLE</td>
            <td>LOCATION</td>
            <td>TYPE</td>
            <td>LAT/LONG.</td>
          </tr>
          {% for coordinate in entry.coordinates %}
          <tr>
            <td>{{coordinate.dateOfEvent}}</td>
            <td>{{coordinate.titleOfEvent}}</td>
            <td>{{coordinate.locationOfEvent}}</td>
            <td>{{coordinate.typeOfEvent}}</td>
            <td>{{coordinate.latLong}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row graybg content-2 logo-content redl-float-contain engageSection">
  <div class="col-sm-2 remove-15-row remove-15-padding float-redline">
    <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
  </div>

  <div class="col-sm-2"></div>

  <div class="col-sm-10 content-buffer" style="padding-right: 6em;">
    <h1>Team</h1>
    <p>
      {{entry.teamBodyCopy}}
    </p>

    <div class="row team-row">
      {% for teamMember in entry.teammates %}
      <div class="col remove-15-row remove-15-padding team-container">
        {% set doc = teamMember.headshot.first() %} {% if doc %}
        <img src="{{doc.url}}" class="team-headshot">
        <span class="team-name">{{teamMember.nameOfMember}}</span>
        <span class="team-position">{{teamMember.position}}</span>
        {% endif %}

      </div>
      {% endfor %}
    </div>

  </div>
</div>

<div class="row tw-row redl-float-contain engageSection">
  <div class="col-sm-2 remove-15-row remove-15-padding float-redline">
    <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
  </div>
  <div id="engage-instagram"></div>
</div>

<div class="row tw-row vertical-align redl-float-contain engageSection">
  <div class="col-sm-2 remove-15-row remove-15-padding float-redline">
    <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
  </div>
  <div id="engage-instagram-second-row"></div>
</div>

<div class="row graybg content-2 logo-content redl-float-contain engageSection">
  <div class="col-sm-2 remove-15-row remove-15-padding float-redline">
    <div class="col-sm-2 remove-15-row remove-15-padding redl2"></div>
  </div>

  <div class="col-sm-2"></div>

  <div class="col-sm-10 content-buffer" style="padding-right: 6em;">
    <div class="row logo-row">
      {% set counter = 0 %} {% for company in companySponsors.sponsors %} {% if counter
      < 4 %} {% set doc=company.logo.first() %} {% if doc %} <div class="col-sm-3 logo-col vertical-align horiz-align">
        <a href="{{company.urlToWebsite}}" target="_blank">
          <img class="logo-img" src="{{doc.url}}">
        </a>
    </div>
    {% endif %} {% endif %} {% set counter = counter + 1 %} {% endfor %}
  </div>

  <div class="row logo-row">
    {% set counter = 0 %} {% for company in companySponsors.sponsors %} {% if counter >= 4 %} {% set doc = company.logo.first()
    %} {% if doc %}
    <div class="col-sm-3 logo-col vertical-align horiz-align">
      <a href="{{company.urlToWebsite}}" target="_blank">
        <img class="logo-img" src="{{doc.url}}">
      </a>
    </div>
    {% endif %} {% endif %} {% set counter = counter + 1 %} {% endfor %}
  </div>
</div>
</div>

<div class="row bottom-content engageSection">
  <div class="col explore-bottom-col">
    <div class="row"></div>
    <div class="row" id="bottom-row" style="font-size:4em;">
      <div class="col-sm-2 remove-15-row remove-15-padding redl-engage-bottom"></div>

      <div class="col-sm-10 explore-text align-items-center pad-mod">
        <span class="explore-link final-ex-en pad-mod-left">EXPLORE</span>
      </div>
    </div>
  </div>


  <div class="col engage-bottom-col">
    <img src="/img/engage-bottom.jpg" class="engage-bottom-img">
    <div class="row"></div>
    <div class="row" id="bottom-row" style="font-size:4em;">
      <div class="col-sm-10 remove-15-row remove-15-padding">
        <span class="explore-link final-ex-en pad-mod-2">ENGAGE</span>
      </div>
      <div class="col-sm-2 remove-15-row remove-15-padding redl-engage-bottom"></div>

    </div>
  </div>
</div>


</div>



{% endblock %}