@font-face {
  font-family: "Gotham";
  src: url('fonts/Gotham-Medium.woff') format('woff');
}

@font-face {
  font-family: "Gotham";
  src: url('fonts/Gotham-Bold.woff') format('woff');
}

body{
	font-family: 'proxima-nova', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
	height:auto;

}

body, html, .container-fluid {
     height: 100%;
}

.col {
	min-height: 500px;
	background-size: cover;
}


.logo{
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	display:block;
	width:80px;
}

#home-row{
	height:100%; 
	display:block;
}

#explore {
	background: url('/img/left-background-grayscale.jpg') no-repeat center left fixed; 
	background-size: cover;
	height:100%;
	width:50%;
	padding:0;
	float:left;
	transition: background-image 0.5s ease;
}

#engage {
	background: url('/img/right-background-grayscale.jpg') no-repeat center right fixed; 
	background-size: cover;
	height:100%;
	width:50%;
	padding:0;
	float:left;
	transition: background-image 0.5s ease;
}

#engage:hover{
	background-image: url('/img/right-background.jpg'); 
}

#explore:hover{
	background-image: url('/img/left-background.jpg'); 
}

.top-home-row {
	height:75%;
}

.bottom-home-row {
	height:100%;
	font-size:4em;
}

.remove-15-row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.remove-15-padding {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.nav-container{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height:20%;
}

.engage-text{
	position:absolute;
	right:0;
}

.red-line{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fe2246;
    margin: 1em 0;
    padding: 0; 
    width:90px;
}

.rl-container{
	width:20%;
}

.enx-container{
	width:80%;
}

.explore-text {
	padding-left: 22% !important;
	padding-bottom:0.15em;
}

.engage-text{
	padding-right: 0.5em !important;
	padding-bottom:0.15em;
}

.social-container, .contact-container{
	margin-top:2em;
}

.social-container{
	padding-left: 2em !important;
}

.contact-container{
	padding-right:2em !important;
}

.text-link{
    color: #fe2246;
    display: inline-block;
    text-decoration: none !important;
    border: 1px solid #fe2246;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8em;
    padding-bottom: 0.3em;
}

.text-link:hover{
	color: #fe2246;
}

.engage-link, .explore-link {
	font-family: 'proxima-nova', sans-serif;
	color: #fff;
	font-weight:700;
	letter-spacing: 6px;
    font-size: 0.9em;
}

.social-container img {
	margin-right:0.6em;
	height:25px;
}

.contact-slide{
	background: rgb(60, 60, 60);
	background: rgba(32, 32, 32, 0.9);
	border-left: 1px solid #fe2246;
	width:30% !important;
	height:100%;
	z-index:2;
	position:absolute !important;
	right:-1000px; /* Start way far away and later recalculate it to be -20% away */
	color: #fff;
	padding-top:4em;
	padding-left:3em !important;
	font-weight:bold;
}

.contact-slide input, .contact-slide textarea {
    background-color: #35363b;
    border: 0;
    padding: 0.4em;
    font-weight: 450;
    display: block;
    margin-bottom: 1.8em;
    width: 90%;
    font-size: 1.15em;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

.contact-slide ul li {
	margin-bottom: 0.4em;
    font-size: 1.25em;
    font-weight: 350;
}

#bottom-row{
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	z-index: 1;
	height:20%;
}
.explore-row:hover, .engage-row:hover{
	cursor:pointer;
}

.contact-x{
	position: absolute;
	top:1.3em;
	right:1.3em;
	width:1.3em;
	height:1.3em;
	cursor:pointer;
}

#contact-form {
	margin-top:2em;
}

.message-box{
	height:10em;
	resize: none;
}

#contact-submit {
	background-color: #fe2246;
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    width: 25%;
    letter-spacing: 1px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;

}

.redl{
	border-top:1px solid #fe2246;
	position:absolute !important;
	height: 73%;
	bottom:0;
	width:12% !important;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	color:#fff;
	top:27%;
	bottom:0 !important;
}

.redl-e{
	right:0;
}

.redl2{
	border-left: 1px solid #fe2246;
	height:100%;
	position: absolute;
	left: 3.9em;
	top:0;
	width: 4% !important;
}

.redl-active {
    left: 1.2em;
    width: 4% !important;
    border-left: 1px solid #fe2246;
}

.rot-text-container{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform-origin: left top 0;
    font-size: 0.3em;
    letter-spacing: 0.1em;
    padding-left: 0.5em;
    margin-left: 1.6em;
    display: none;
    width: 6em;
    font-weight: 600;
}

.content-2{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/explore-about.jpeg') no-repeat center left fixed;
	background-size: cover;
}

.contact-slide h1{
	margin-bottom: 1.2em;
    font-weight: 700;
    font-size: 2.3em;
    letter-spacing: 1px;
}

.content-2 h1{
	color:#fff;
	font-weight: 700;
    font-size: 3em;
    letter-spacing: 1px;
    margin-bottom:1em;
}

.content-2 p {
	color: #fff;
    font-size: 1.2em;
    font-weight: 440;
    margin-top: 1.6em;
    margin-left: 3em;
    width: 60%;
    word-spacing: 0.05em;
}

.circle-item{
	border-radius: 50%;
    behavior: url(PIE.htc);
    width: 7px;
    height: 7px;
    background: #fe2246;
    margin-left: 2.78em !important;
    display: inline-block;
    float: left;
}

.outline-item-text {
	color: #909090;
    left: 2em;
    display: inline-block;
    float: left;
    font-size: 0.7em;
    font-weight: 400;
    margin-top: -.405em;
    margin-left: 1.5em;
}

.oi-active-light {
	color: #fff;
	transition: color 0.5s ease;
    font-weight: 700 !important;
    font-size: 1em;
    margin-left: 1em !important;
}

.oi-active-dark {
	color: #333;
	transition: color 0.5s ease;
    font-weight: 700 !important;
    font-size: 1em;
    margin-left: 1em !important;
}

.circle-active{
	width: 11px;
    height: 11px;
    margin-left: 2.6em !important;
}

.outline-item {
	display: inline-block;
    width: 15em;
    margin-bottom:1.15em;
}

.red-arrow-link {
	color: #fe2246;
	font-weight: 540;
    word-spacing: 0.05em;
}

.red-arrow-link:hover{
	text-decoration: none;
	color:#fe2246;
}

.whitebg{
	background: #fff !important;
}

.achievements-1{
	width:90%;
	margin-bottom:4em;
}

.achievements-2{
	width:70%;
	margin-top:10em;
}

.in-content-ul{
	font-weight:600;
	width:70%;
	margin-left:2em;
}


.in-content-ul ul li {
	list-style-type: disc !important;
}

.ac-h1{
	color:#000 !important;
	margin-bottom:0.5em !important;
}

.shift-text-content{
	margin-left:3em;
}

.outline-contain{
	padding-top: 3em;
	z-index:2;
}

.sticky-outline{
	position: fixed;
	top: 0;
	width: 15em;
}

.top-row-watch{
	margin-left:3em;
}

.graybg{
	background: #212322 !important;
	color:#fff !important;
}

h2{
	color:#fe2246 !important;
	font-size: 1.3em;
    font-weight: 400;
    word-spacing: 0.05em;

}

.modify-bp{
	margin-bottom: 0em !important;
}

.expedition-info{
	align-items: center;
}

.v-center{
	display: inline-block;
	vertical-align: middle;
	float:none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.graybg .col-sm-10 .row{
	padding-bottom: 6.5em;
}

.whiteEngageSection .col-sm-10 .row{
	padding-bottom: 6.5em;
}

.whiteEngageSection p {
	width:75% !important;
}

.whiteEngageSection img {
	padding-right:3.3em;
}



.graybg p {
	width:75% !important;
}

.graybg img {
	padding-right:3.3em;
}

.history {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/explore-history.jpg') no-repeat center left fixed; 
	background-size: cover;
	height: 80vh;
}

.ttent-row{
	padding-top:6em;
	padding-bottom:6em;
}

.history-menu-contain{
	min-width:400px;
}

.history-menu {
	color: #A0A0A0;
	min-width:400px;
}

.history-menu-item {
	padding-top:0.3em;
	padding-bottom: 0.3em;
}

.history-menu-item:hover{
	cursor: pointer;
}

.history-menu-item span{
	display:inline-block;
	float:right !important;
	margin-right: -20px !important;
	font-size:0.9em;
}

.history-menu-obj {
	display:block;
	float: right;
	width:1.5em;
	height:1px;
	border-top: 1px solid #A0A0A0;
}

.vcenter-text{
	text-align: center;
	padding-right: 0px !important;
}

.hm-active span{
	color: #fe2246 !important;
	font-weight:bold !important;
}

.hm-active .history-menu-obj {
	border-color: #fe2246 !important;
	border-width: 2px !important;
}

.tools {
	background: #fff !important;
	color:#000 !important;
}

.tools h1{
	color: #000 !important;
	margin-bottom: 0 !important;
}

.tools p {
	color:#000 !important;
	margin-bottom: 5em;
}

.news-image{
	width:100%;
}

.tw-row .col-sm-4 img {
	width:100%;
}

.tw-row:last-of-type .col-sm-4:last-of-type img {
	opacity:0.3;
}

.img-mask {
	background-color:#000;
}

.tw-row .col-sm-4 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.tweet-content{
	position: absolute;
	color:#fff;
	padding:3em;
	font-weight: bold;
}

.tw-date {
	font-weight:normal !important;
	display: inline-block;
	width:100%;
}

.tw-handle{
	display: inline-block;
	width:100%;
	font-size: 1.85em;
    margin-bottom: 0.8em;
    display: inline-block;
}

.tw-text{
	margin-bottom:1.5em !important;
}

.logo-row .col-sm-3 img {
	width:78%;
	padding:1em;
}

.logo-row{
	padding-bottom: 0 !important;
}

.logo-row:first-of-type{
	margin-bottom:2em;
}

.logo-content{
}

.explore-bottom-col, .engage-bottom-col{
	padding-left:0 !important;
	padding-right: 0 !important;
}

.explore-bottom-col {
	background-image: url('/img/explore-bottom.jpg');
}
}

.engage-bottom-col {
	background-image: url('/img/engage-bottom.jpg');
}

.explore-bottom-img, .engage-bottom-img{
	width:100%;
}

.float-redline {
	position: absolute !important;
	z-index: 2;
	height:100%;
}

.redl-float-contain{
	position: relative;
}

.content-buffer{
	padding-top:5.5em;
	padding-bottom: 5.5em
}

#row1{
	position: relative;
}


.expedition-img {
	width:100% !important;
	position:relative;
}

.video-overlay{
	position: absolute;
	z-index: 2;
}

.logo-overlay{
	max-width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 0 !important;
    max-height: 25%;
}

.lm-link{
	display: inline-block;
	margin-right:2em;
	position: relative;

}

.img-center {display: block; margin:0 auto;}

.video-overlay{
	z-index: 2;
}

.centered-image {
     margin: 0;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}

.centered-image2 {
     margin: 0;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}

.logo-img{
	max-height: 10em;
    width: auto !important;
    max-width: 15.5em;
}

.logo-col {
	text-align: center
}

.final-ex-en{
	position: absolute;
    top: -0.4em;
}

.redl-engage-bottom{
	border-top:1px solid #fe2246;
	height: 73%;
	bottom:0;
	width:12% !important;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	color:#fff;
	top:27%;
	bottom:0 !important;
}

.pad-mod {
	padding-left: 5% !important;
}

.pad-mod-2{
	position: absolute;
    right: 0;
    padding-right: 5% !important;
}

.horiz-align{
	justify-content: center;
}

.history-active {
	display:block !important;
}

.history-content{
	display:none;
}

.history-content-row{
	padding-top:5em;
	height:30em !important;
}

.left-angle, .press-item, .right-angle {
	float:left;
	width:2.7em;
	height: 2.7em;
    cursor: pointer;
}

.press-item {
	width: 2.7em;
    display: inline-block;
    border-top: 3px solid #999;
    height: 3px;
}

.left-angle {
	background: url('../img/leftarr.png');
}

.right-angle {
	background: url('../img/rightarr.png');
}

.press-item-container{
	width: 2.7em;
	height: 2.45em;
	float:left;
    margin-left: 0.3em;
    margin-right: 0.3em;
    cursor: pointer;
}

.press-item-active {
    border-color: #fe2246;
}

.press-scroller{
	text-align: center;
}

.press-scroller-container{
	height:2.7em;
	display: inline-block;
}

.inactive-press{
	display:none !important;
}

.active-press{
}

.press-content {
	height: 25em;
}

.modalCA{
	position: fixed;
	height:81vh;
	width:60vw;
	background-color:#181818;
	z-index:4;
	left: 0; 
	right: 0; 
	top:0;
	bottom:0;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: auto; 
	margin-bottom: auto; 
	display:none;
}

.modalMask{
	width:100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,.5);
	z-index: 3;
	top:0;
	left:0;
	display: none;
}

.modalCA h1, .modalCA p{
	z-index: 4;
	color: #fff;
}

.modal-inner{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}

.modal-close{
	position: absolute;
	right:0;
	top:-2em;
	width: 1.3em;
	height: 1.3em;
	cursor: pointer;
}

.video-overlay{
	cursor: pointer;
}

.modal-iframe-row{
	margin-top:3em;
	margin-bottom:3.5em;
	text-align: center;
	padding-left:30px;
	padding-right:30px;
}

.modal-video-contain{
	display: none;
	text-align: left !important;
}

.modal-content-row{
	width:100%;
}

.modal-content-col{
	text-align: center;
}

.modal-content-contain{
	width:800px !important;
	display:none;
}

.modal-hr{
	width:10%;
	background-color: #fe2246;
}

.modal-contain-active{
	display:inline-block !important;
	text-align: left !important;
}

.modal-video-active{
	display:inline-block !important;
}

.engage-link{
	float:right;
	padding-top:.21em;
}

.engage-experience{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/engage-bg-exp.jpg') no-repeat center left fixed;
	background-size: cover;
	height: 70vh;
}

.whiteEngageSection{
	background:#fff !important;
	color: #000 !important;
}

.whiteEngageSection h2, .whiteEngageSection p {
	color: #000 !important;
}

.speaking-div p{
	color:#000 !important;
	width: 85% !important;
	font-size:1.7em;
	font-weight:500;
	margin-left: 0.5em;
}

.speech-img{
	width: 100%;
    height: 100%;
    padding-right: 0 !important;
}

.speech-row{
	position: absolute;
    margin-top: 5em;
    right: 2em;
}

.speech-content{
	padding-bottom:7em;
}

.quote-content{
	padding-top:23em;
}

.speech-mask{
	background-color:#000;
	opacity:0.6;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;

}

.testimonial-author, .testimonial-quote{
	display: inline-block;
    width: 100%;
    text-align: center;
}

.testimonial-hr{
	border-width: 2px !important;
}

.coordinates-copy{
	color: #000 !important;
}